<html>
  <body>
    <form method="post">
      <label for="code">Country code:</label>
      <input type="text" id="code" name="code">
      <label for="hos">Head of state:</label>
      <input type="text" id="hos" name="hos">
      <input type="submit" value="Submit">
    </form>
    <a href="/">Home</a>
  </body>
</html>