<html>
  <body>
    <h1>Insert country</h1>
    <form method="post">
      <label for="code">Code:</label></br>
      <input type="text" id="code" name="code"></br>
      <label for="name">Name:</label></br>
      <input type="text" id="name" name="name"></br>
      <label for="details">Details:</label></br>
      <input type="text" id="details" name="details"></br>
      <input type="submit" value="Submit">
    </form>
    <a href="/">Home</a>
  </body>
</html>