<html>
  <body>
    <h1>Heads of state</h1>
    <button href="/create-hos">Create head of state</button>
    <table>
      <tr>
        <th>Country code</th>
        <th>Head of state</th>
      </tr>
      <!-- For every entry in database, construct new table row with data -->
<% heads.forEach((hos)) => { %>
      <tr>
        <td><%= hos._id %></td>
        <td><%= hos.headOfState %></td>
      </tr>
<% }) %>
    </table>
  </body>
</html>