<html>
  <body>
    <div>
      <a href="/countries">List countries</a></br>
      <a href="/cities">List cities</a></br>
      <a href="/hos">List heads of state</a></br>
    </div>
  </body>
</html>